.top_bar{background:#F26522; padding:5px 0;}
.s_icons{margin-right:5px;}
.contact_info{color:#fff; font-size:15px;}
.my_nav{margin-top:25px;}

.my_nav .navbar-default{background:none; border:none;}

.my_nav.navbar-nav .active a , .my_nav .navbar-nav .active a:hover{background:#F26522; color:#fff;}

.my_nav.navbar-nav li a:hover{background:#F26522; color:#fff;}

.lan {margin-top:40px}

.our{padding-top: 20px; color:#fff;}

.carousel-inner.item  a img{width: 70%; margin: auto;}

@media( max-width:1200px){
	.my_nav.pull-right{float:none !important;}
}